@import '../../../scss/abstracts';
@import '../../../scss/base';

body:has(.dfr-full-width-group) {
  overflow-x: hidden;

  .dfr-full-width-group {
    position: relative;
    background: $tertiary;
  
    &::before, &::after {
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      background: $tertiary;
    }

    &.primary-background {
      &, &::before, &::after {
        background: $primary
      }
    }

    &.secondary-background {
      &, &::before, &::after {
        background: $secondary;
      }
    }

    &.accent-background {
      &, &::before, &::after {
        background: $accent;
      }
    }
    
    &.contrast-background {
      color: $white;
      &, &::before, &::after {
        background: $contrast;
      }
    }
  
    &::before {
      left: -100%;
    }
  
    & > .wp-block-group {
      width: 100%;
    }
  
    &::after {
      right: -100%;
    }
  }
}
