@import '../../scss/abstracts';

.wp-block-dfr-category {
  width: 100%;

  ul.cat-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: $gap;

    @include tablet {
      grid-template-columns: repeat(auto-fill, calc(50% - calc($gap / 2)));
    }

    @include desktop {
      grid-auto-columns: var(--dfr-item-cols);
      grid-auto-flow: column;
      grid-template-columns: unset;
    }

    li.cat-item {
      margin: 0;
      padding: 0;
      list-style-type: none;
      padding-top: 100%;
      position: relative;

      a.cat-link {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-decoration: none;

        span.cat-span {
          color: $white;
          background: $primary;
          transition: $transition;
          position: absolute;
          left: $half-gap;
          bottom: $half-gap;
          padding: $button-padding;
          max-width: calc( 100% - $half-gap );
          word-wrap: break-word;
          font-family: $header-font-family;
          z-index: 1;
        }

        @include hovered {

          span.cat-span {
            background: $secondary;
          }
        }

        img.cat-img {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;

          &[src="#"] {
            display: none;
          }
        }
      }
    }

    &.circle-style {
      font-size: .9em;
      margin-bottom: calc( $double-gap * 2 );
      grid-column-gap: $large-gap;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: calc( $gap + $double-gap );

      @include tablet {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: calc( $gap + $double-gap );
      }

      @include desktop {
        grid-auto-columns: var(--dfr-item-cols);
        grid-auto-flow: column;
        grid-template-columns: unset;
      }

      li.cat-item {
        a.cat-link {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: flex-end;

          &, img.cat-img {
            border-radius: 100%;
          }

          img.cat-img {
            transition: $transition;
            box-shadow: $box-shadow;
            border: 2px solid $white;
          }

          span.cat-span {
            color: $primary;
            background: unset;
            padding: unset;
            position: static;
            max-width: 100%;
            margin-bottom: calc( $double-gap * -1 );
          }

          @include hovered {

            img.cat-img {
              box-shadow: $hovered-box-shadow;
            }

            span.cat-span {
              color: $secondary;
            }
          }
        }
      }
    }
  }
}
