@import 'abstracts';

body {
  font-size: $body-font-size;
  font-family: $body-font-family;
}

@for $i from 1 through 6 {
  h#{$i}, h#{$i}.wp-block-post-title, h#{$i}.entry-title {
    font-family: $header-font-family;
    @include fontSize($i);
  }
}
