@import 'settings';
@import 'categories';
@import '../abstracts';

.dfr_hidden {
  display: none !important;
}

body.dfr,
.editor-styles-wrapper {
  font-size: $body-font-size;
  font-family: $body-font-family;

  @for $i from 1 through 6 {
    h#{$i}, h#{$i}.wp-block-post-title, h#{$i}.entry-title {
      font-family: $header-font-family;
      @include fontLevels($i);
  
      &, & > * {
        color: $primary;
        transition: color .2s ease-in-out;
      }
  
      @include hovered {
        &:has(a), &:has(a) > * {
          color: $secondary;
          background: initial;
        }
      }
    }
  }

  figure img, a img {
    @include hovered {
      opacity: initial;
    }
  }

  aside[class*="dfr"]:not(:first-child) {
    margin-block-start: $gap;
  }
}