@import 'settings';
@import 'categories';
@import '../abstracts';

.dfr_hidden {
  display: none !important;
}

body.dfr,
.editor-styles-wrapper {
  font-size: $body-font-size;
  font-family: $body-font-family;
  color: $contrast;

  @for $i from 1 through 6 {
    h#{$i}, h#{$i}.wp-block-post-title, h#{$i}.entry-title {
      text-transform: initial;
      font-family: $header-font-family;
      @include fontLevels($i);
  
      &, & > * {
        color: $primary;
        transition: color .2s ease-in-out;
      }
  
      @include hovered {
        &:has(a), &:has(a) > * {
          color: $secondary;
          background: initial;
        }
      }
    }
  }

  figure img, a img {
    @include hovered {
      opacity: initial;
    }
  }

  aside[class*="dfr"]:not(:first-child) {
    margin-block-start: $gap;
  }

  &.dfr_hidden_title {
    h1 {
      display: none;
    }
  }

  *[class*="dfr"] a, a[class*="dfr"] {
    font-style: initial;
  }

  .wp-block-button:where(.is-style-outline)>.wp-block-button__link:hover {
    border: 2px solid;
    border-bottom: 2px solid;
    border-bottom-color: initial;
  }
}
