$header-font-family: var(--dfr-header-font-family, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif);
$body-font-family: var(--dfr-body-font-family, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif);
$body-font-size: var(--dfr-body-font-size, 18px);

@mixin fontSize($level) {
	@if $level == 1 {
		font-size: 2.25em;
	} @else if $level == 2 {
		font-size: 2em;
	} @else if $level == 3 {
		font-size: 1.75em;
	} @else if $level == 4 {
		font-size: 1.5em;
	} @else if $level == 5 {
		font-size: 1.25em;
	} @else {
		font-size: 1em;
	}
}
