$primary: var( --dfr-primary-color, '#113946' );
$secondary: var( --dfr-secondary-color, '#BCA37F' );
$accent: var( --dfr-accent-color, '#EAD7BB' );
$tertiary: var( --dfr-tertiary-color, '#FFF2D8' );
$contrast: #000000;
$white: #FFFFFF;
$transparent: rgba(0, 0, 0, 0);